.Container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.TextField{
    width: 100%;
    padding: 6px  0 !important;
    margin-bottom: 10px !important;
}

.TextField label{
    background-color: white;
    font-size: larger;
}


.PaperContainer{
    padding: 10px;
}
